// mouse
.mouse {
  &__round {
    width:15px; height:15px;
    border-radius:50%; border:1px solid #ccc;
    position:absolute; top:0; left:0; z-index:100; pointer-events:none;
  }
  &__point {
    width:8px; height:8px;
    border-radius:50%; background:#7a7a7a;
    position:absolute; top:0; left:0; z-index:100; pointer-events:none;
    mix-blend-mode:difference;
  }

  @include horizontal-tablet {
    display:none;
  }
}

/*button*/
[class*="button_primary"] {
  display:inline-flex; align-items:center; justify-content:center;
  text-align:center; position:relative; overflow:hidden;
  background:$secondary-cl; border:1px solid $primary-cl;
  padding:5px 20px; min-height:50px; min-width:150px; border-radius:50px;
  transition:$time-slow;
  &:before {
    content:""; display:block;
    width:0; height:100%; background:$primary-cl;
    position:absolute; top:0; right:0;
    transition:$time-slow;
  }
  span {
    position:relative;
  }
  &:hover {
    color:#fff;
  }
  &:hover:before {
    width:100%; left:0;
  }
}
[class*="button_secondary"] {
  position:relative;
  padding-bottom:5px;
  transition:$time;
  &:before, &:after {
    content:"";
    display:block;
    height:2px;
    position:absolute;
    bottom:0;
  }
  &:before {
    width:100%;
    background:$text-cl;
    z-index:1;
    left:0;
  }
  &:after {
    z-index:2;
    width:0;
    background:$primary-cl;
    right:0;
    transition:$time-slow;
  }
  &:hover {
    color:$primary-cl;
    &:after {
      width:100%;
      left:0;
    }
  }
}

/*loading page*/
.main-wrapper {
  width:100%;
  overflow:hidden;
  z-index:99;
}
.line-animation {
  position:fixed; top:0; left:0; background:$secondary-cl;
  width:100%; height:100vh; z-index:102;
  &-wrapper {
    height:100%;
  }
}

/*Social media*/
.social_media {
  ul {
    display:flex;
    li {
      &:not(:last-child) {
        margin-right:25px;
      }
      a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(215,241,239,.2);
        line-height: 40px;
        text-align: center;
        transition: $time-slow;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
        &:hover {
          background:$primary-cl;
          color:$white-cl;
          transform:translateY(-5px);
        }
      }
    }
  }

  /*responsive*/
  @include tablet {
    ul li a {
      background:$primary-cl;
      color:$white-cl;
      &:hover {
        transform:translateY(0);
      }
    }
  }
}

/*banner*/
.site-banner {
  position:relative;
  &__image {
    height:400px;
    &:before {
      content:""; background:rgba(0,0,0,.6);
      position:absolute; top:0; left:0; bottom:0; right:0;
    }
  }
  &__title {
    @include mid(false);
    width:100%;
    &-text {
      text-align:center;
      margin-bottom:0;
      letter-spacing:.2em;
      @include text(80px, $font-style, normal, $white-cl, none);
    }
  }

  @include desktop {
    &__image {
      height:350px;
    }
    &__title-text {
      font-size:65px;
    }
  }
  @include horizontal-tablet {
    &__image {
      height:300px;
    }
    &__title-text {
      font-size:60px;
    }
  }
  @include tablet {
    &__image {
      height:275px;
    }
    &__title-text {
      font-size:50px;
    }
  }
  @include mobile {
    &__title-text {
      font-size:45px;
      letter-spacing:.1em;
    }
  }
}

/*parallax*/
[data-parallax] {
  background-repeat:no-repeat; background-size:cover;
  background-position:50% 50%;
}
[data-parallax] img {opacity:0; pointer-events:none;}

