.loading {
  height:100vh;
  overflow:hidden;
  position:relative;
  &_background {
    height:100%;
    background:$text-cl;
  }
  &_content {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    color:$white-cl;
  }
}